/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 700 */

.kode-mono {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.proj-card{
  border: 1px solid black
}
.proj-card:hover {
  border: 3px solid #738678; /* Border color on hover */
}
.material-symbols-outlined:hover {
  background: #738678; /* Background color on hover */
  color: white; /* Text color on hover */
}
.contactbutton {
  color: black;
  font-family: Kode Mono;
}
.vertical-carousel {
  display: flex;
  flex-direction: column;
}


.proj-card {
  cursor: pointer;
  border: 2px solid black;
  padding: 15px;
  
}
.root{
  background-color: #E0E4E2;
  height: auto; 
  width: 100%; /* 100% of the viewport width */
  overflow: hidden;
}
.cararararar{
  background-color: #E0E4E2;
}